* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/beautiful-nature-location-view.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  padding: 300px 0 0;
}
